<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>전체</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>ALL</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>미국</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>USD</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>일본</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>JPY</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>유로</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>EUR</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>중국</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>CNY</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>덴마크</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>DKK</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>아랍토호국</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>AED</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>영국</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>GBP</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>홍콩</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>HKD</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>인도네시아</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>IDR</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>인도</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>INR</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>호주</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>AUD</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>바레인</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>BHD</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>캐나다</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>CAD</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>스위스</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>CHF</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>쿠웨이트</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>KWD</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>말레이시아</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>MYR</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>노르웨이</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>NOK</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>뉴질랜드</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>NZD</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>필리핀</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>PHP</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>사우디</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>SAR</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>스웨덴</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>SEK</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>싱가포르</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>SGD</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>태국</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>THB</string>
	</dict>
	<dict>
		<key>UMSW023004_OUT_SUB.nation_name</key>
		<string>대만</string>
		<key>UMSW023004_OUT_SUB.nation_id</key>
		<string>TWD</string>
	</dict>
</array>
</plist>
